In [29]:
# Answers
# 2.22.0
# 4
# 2
# default-artifact-root
# 5.335
# 5.567

In [9]:
import pandas as pd

In [4]:
import mlflow

In [23]:
from sklearn.feature_extraction import DictVectorizer

In [5]:
mlflow.__version__

'2.22.0'

In [17]:
def extract_data(filename):
    df = pd.read_parquet(filename)

    df['duration'] = df['lpep_dropoff_datetime'] - df['lpep_pickup_datetime']
    df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)
    df = df[(df.duration >= 1) & (df.duration <= 60)]

    categorical = ['PULocationID', 'DOLocationID']
    df[categorical] = df[categorical].astype(str)

    return df

In [8]:
taxi_jan = '/Users/artem/Dev/mlops-course/data/green_tripdata_2023-01.parquet'
taxi_feb = '/Users/artem/Dev/mlops-course/data/green_tripdata_2023-02.parquet'
taxi_mar = '/Users/artem/Dev/mlops-course/data/green_tripdata_2023-03.parquet'

In [21]:
df_jan = extract_data(taxi_jan)
df_feb = extract_data(taxi_feb)
df_mar = extract_data(taxi_mar)

In [22]:
df_mar

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration
0,2,2023-03-01 00:25:10,2023-03-01 00:35:47,N,1.0,82,196,1.0,2.36,13.50,...,0.5,0.00,0.00,NaN,1.0,16.00,2.0,1.0,0.00,10.616667
1,2,2023-03-01 00:14:29,2023-03-01 00:25:04,N,1.0,7,7,1.0,0.78,-6.50,...,-0.5,0.00,0.00,NaN,-1.0,-9.00,3.0,1.0,0.00,10.583333
2,2,2023-03-01 00:14:29,2023-03-01 00:25:04,N,1.0,7,7,1.0,0.78,6.50,...,0.5,0.00,0.00,NaN,1.0,9.00,3.0,1.0,0.00,10.583333
3,2,2023-02-28 22:59:46,2023-02-28 23:08:38,N,1.0,166,74,1.0,1.66,11.40,...,0.5,2.78,0.00,NaN,1.0,16.68,1.0,1.0,0.00,8.866667
4,2,2023-03-01 00:54:03,2023-03-01 01:03:14,N,1.0,236,229,1.0,3.14,15.60,...,0.5,4.17,0.00,NaN,1.0,25.02,1.0,1.0,2.75,9.183333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72039,2,2023-03-31 23:33:00,2023-03-31 23:45:00,None,NaN,25,144,NaN,2.93,16.46,...,0.0,4.04,0.00,NaN,1.0,24.25,NaN,NaN,NaN,12.000000
72040,2,2023-03-31 23:27:00,2023-03-31 23:53:00,None,NaN,36,236,NaN,8.49,34.66,...,0.0,7.68,0.00,NaN,1.0,46.09,NaN,NaN,NaN,26.000000
72041,2,2023-03-31 23:09:00,2023-03-31 23:40:00,None,NaN,42,225,NaN,12.27,41.79,...,0.0,7.40,6.55,NaN,1.0,56.74,NaN,NaN,NaN,31.000000
72042,2,2023-03-31 23:39:00,2023-04-01 00:01:00,None,NaN,80,189,NaN,4.42,17.82,...,0.0,1.94,0.00,NaN,1.0,20.76,NaN,NaN,NaN,22.000000
72043,2,2023-03-31 23:38:00,2023-03-31 23:53:00,None,NaN,256,66,NaN,2.96,16.42,...,0.0,1.00,0.00,NaN,1.0,18.42,NaN,NaN,NaN,15.000000

In [24]:
dv = DictVectorizer()